body {
    background: linear-gradient(to bottom right ,rgb(185, 223, 255), rgb(128, 160, 174),rgb(101, 129, 171));
    font-family: "Nanum Myeongjo", serif;
    width: 100%;
    font-weight: 500;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nanum-myeongjo-regular {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 500;
    font-style: normal;
  }

.card-title {
    font-weight: 600;
}

.card {
    width: 35rem;
    padding: 1rem 2rem 2rem ;
    font-size: 1.25rem;
    text-align: center;
    height: 23rem;
}

.div-text {
    height: 10rem;
}

.author {
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
}

#authorSide {
    padding-left: 0.6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    margin-bottom: 0;
    font-size: 0.8rem;
    text-align: right;
}

hr {
    height: 1px;
    opacity: 1;
    border-radius: 2rem;
    border-top: 0;
    border-color: #0d6efd;
    border-style: solid;
}

.first-line {
    border-width: 1.6px;
    margin: 0 13rem 1rem;
    width: 3rem;
}

.second-line {
    border-width: 1px;
    text-align: right;
    width: 1.5rem;
    margin: 0rem 0rem 0.5rem 0rem;
}

.btn-div {
    padding-top: 1rem;
    padding-bottom: 0;
}

.btn-div button{
    padding: 0.6rem 1.3rem;
    border-radius: 2rem;
}
.btn-div a {
    background: inherit;
    color: var(--bs-btn-hover-bg);    
    padding: 0.6rem 2.1rem;
    border-radius: 2rem;
}

img {
    padding-right: 0.5rem;
    width: 25px;
}